
.ant-row {
    padding: 15px;
}
.linkedin {
    background-color: #1b243f;
    padding: 20px;
    max-width: 100%;
}
.hero__background {
    left: 0;
    position: absolute;
    top: -157px;
    width: 100%;
    z-index: -1;
}